<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/Theme.Munasabati">
        <activity android:name=".SyncCenterActivity" android:exported="false"/>
        <activity android:name=".SettingsActivity" android:exported="false"/>
        <activity android:name=".StrongAlertActivity" android:exported="false" android:excludeFromRecents="true" android:launchMode="singleTop" android:showWhenLocked="true" android:turnScreenOn="true"/>
        <activity android:name=".EditEventActivity" android:exported="false"/>
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>

        <provider android:name=".AttachmentProvider" android:authorities="com.rafat.munasabati.attachments" android:exported="false" android:grantUriPermissions="true"/>
        <receiver android:name=".ReminderReceiver" android:exported="false"/>
        <receiver android:name=".StrongAlertReceiver" android:exported="false"/>
        <receiver android:name=".AutoBackupReceiver" android:exported="false"/>
        <receiver android:name=".CalendarSyncReceiver" android:exported="false"/>
        <receiver android:name=".BootReceiver" android:enabled="true" android:exported="true"><intent-filter><action android:name="android.intent.action.BOOT_COMPLETED"/></intent-filter></receiver>
    </application>
</manifest>
